<div class="page-header">
    <h2>Изменить папку</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: folder_path(@conn, :update, @folder) %>

<div class="col-sm-offset-2 col-sm-2">
    <%= link "Назад", to: folder_path(@conn, :index) %>
</div>
