<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, "Название", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= text_input f, :name, class: "form-control" %>
      <%= error_tag f, :name %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= submit "Сохранить", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
