<div class="page-header">
    <h2>Документы</h2>
</div>

<%= if current_user(@conn).role == "admin" do %>
    <%= link "Создать документ", to: document_path(@conn, :new), class: "btn btn-primary btn-sm" %>
    &nbsp;
    <%= link "Создать папку", to: folder_path(@conn, :new), class: "btn btn-primary btn-sm" %>
<% end %>

<ul class="list-group">
    <%= for folder <- @folders do %>
        <li class="list-group-item">
            <%= link folder.name, to: folder_document_path(@conn, :index, folder) %>
            <%= if current_user(@conn).role == "admin" do %>
                <div class="pull-right">
                    <%= link "Изменить", to: folder_path(@conn, :edit, folder), class: "btn btn-default btn-xs pull" %>
                    <%= link "Удалить", to: folder_path(@conn, :delete, folder), method: :delete, data: [confirm: "Удалить папку?"], class: "btn btn-danger btn-xs" %>
                </div>
            <% end %>
        </li>
    <% end %>
</ul>
