<div class="page-header">
    <h2>Изменить новость</h2>
</div>

<div class="col-md-offset-2 col-md-8">
  <%= render "form.html", changeset: @changeset,
                          action: post_path(@conn, :update, @post) %>

  <%= link "Назад", to: post_path(@conn, :show, @post) %>
</div>
