<div class="text-right">
<%= link "Справка по оформлению", target: "_blank", rel: "nofollow noopener noreferrer", to: "https://ru.wikipedia.org/wiki/Markdown#.D0.9F.D1.80.D0.B8.D0.BC.D0.B5.D1.80.D1.8B_.D1.81.D0.B8.D0.BD.D1.82.D0.B0.D0.BA.D1.81.D0.B8.D1.81.D0.B0" %>
</div>

<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Не удалось сохранить</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :caption, "Заголовок", class: "control-label" %>
    <%= text_input f, :caption, class: "form-control" %>
    <%= error_tag f, :caption %>
  </div>

  <div class="form-group">
    <%= label f, :body, "Текст", class: "control-label" %>
    <%= textarea f, :body, class: "form-control", rows: 20 %>
    <%= error_tag f, :body %>
  </div>

  <div class="form-group">
    <%= submit "Сохранить", class: "btn btn-primary" %>
    &nbsp;
    <label>
      <%= checkbox :opts, :notify %> Отправить уведомления пользователям
    </label>
  </div>
<% end %>

<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>var simplemde = new SimpleMDE({spellChecker: false});</script>
