<div class="page-header">
    <h2>Создать новость</h2>
</div>

<div class="col-md-offset-2 col-md-8">
  <%= render "form.html", changeset: @changeset,
                          action: post_path(@conn, :create) %>

  <%= link "Назад", to: page_path(@conn, :index) %>
</div>
