<div class="col-md-offset-2 col-md-8">

    <div class="page-header">
        <h2><%= @post.caption %></h2>
            <span class="label label-default">
                <%= format_time @post.inserted_at %>
            </span>
        <%= if current_user(@conn).role == "admin" do %>
            <div class="pull-right">
                <%= link "Редактировать", to: post_path(@conn, :edit, @post), class: "btn btn-primary btn-xs" %>
                <%= link "Удалить", to: post_path(@conn, :delete, @post), method: :delete, data: [confirm: "Удалить новость?"], class: "btn btn-danger btn-xs" %>
            </div>
        <% end %>
    </div>

    <%= raw process_vars(@conn, markdown(@post.body)) %>

<%= link "Вернуться на главную", to: page_path(@conn, :index) %>


</div>
