<div class="page-header">
  <h2>
    Личный кабинет
    <%= @user.email %>
    (<%= @user.name %>)
  </h2>
</div>


<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
  <%= for address <- @addresses do %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= address.name %>
      </div>

      <div class="panel-body">
        <%= link "Передать показания", to: indication_path(@conn, :new, address: address, month: Bazhovka.Month.current), class: "btn btn-success" %>
        &nbsp;
        <%= link "История показания", to: indications_history_path(@conn, :index, address: address), class: "btn btn-default" %>
        &nbsp;
        <%= link "Расчёты по электроэнергии", to: address_address_calculation_path(@conn, :index, address), class: "btn btn-default" %>
        &nbsp;
        <%= link "Платежи", to: address_address_payment_path(@conn, :index, address), class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
