<div class="page-header">
    <h2>Изменить данные пользователя</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :update, @user) %>

<%= link "Назад", to: user_path(@conn, :index) %>
