<div class="page-header">
    <h2>Listing users</h2>
</div>

<%= link "Создать пользователя", to: user_path(@conn, :new), class: "btn btn-primary btn-sm" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>ФИО</th>
      <th>Роль</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.role %></td>

      <td class="text-right">
        <%= link "Изменить", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %>
        <%= link "Удалить", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Удалить пользователя?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

