<div class="page-header">
    <h2>Создать пользователя</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create) %>

<%= link "Назад", to: user_path(@conn, :index) %>
