<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Не удалось сохранить.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :monthnum, "Месяц", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= select f, :monthnum, month_selections(), class: "form-control" %>
        <%= error_tag f, :monthnum %>
        <p class="help-block">Здесь должен быть месяц, за который произведена оплата, как в квитанции</p>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :address_id, "Адрес", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= select f, :address_id, address_selections(:personal), class: "form-control" %>
        <%= error_tag f, :address_id %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :type, "Вид платежа", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= select f, :type, payment_type_selections(), class: "form-control" %>
        <%= error_tag f, :type %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :sum, "Сумма", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= number_input f, :sum, step: "any", class: "form-control" %>
        <%= error_tag f, :sum %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :comment, "Назначение", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :comment, class: "form-control" %>
        <%= error_tag f, :comment %>
    </div>
  </div>

  <div class="form-group">
      <%= label f, :made_at, "Дата внесения", class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= text_input f, :made_at, type: "date", class: "form-control", default: format_date(Timex.now()) %>
          <%= error_tag f, :made_at %>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <%= submit "Записать", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
