<% month = @filter.month %>
<% prev_month = Bazhovka.Month.prev(month) %>
<% next_month = Bazhovka.Month.next(month) %>

<div class="page-header">
    <h2>Платежи за <%= month.name %></h2>
</div>

<ul class="pagination">
  <li>
    <%= link to: payment_path(@conn, :index, filter: %{@filter | month: prev_month.num}) do %>
      <span aria-hidden="true">&laquo;&nbsp;<%= prev_month.name %></span>
    <% end %>
  </li>
  <li>
    <%= link to: payment_path(@conn, :index, filter: %{@filter | month: next_month.num}) do %>
      <span aria-hidden="true"><%= next_month.name %>&nbsp;&raquo;</span>
    <% end %>
  </li>
</ul>

<%= form_for @conn, payment_path(@conn, :index), [class: "form-inline", method: "get", as: "filter"], fn f -> %>
  <%= hidden_input f, :month, value: @filter.month.num %>

  <div class="form-group">
    <label class="control-label">Фильтр платежей</label>
    <%= select f, :type, [{"Все", "all"} | payment_type_selections()], class: "form-control" %>
    <%= select f, :with_archive, [{"Без архивных адресов", false}, {"С архивными адресами", true}], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Применить", class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Адрес</th>
      <th>Дата</th>
      <th class="text-right">Начальный баланс</th>
      <th class="text-right">Начислено</th>
      <th class="text-right">Внесено</th>
      <th class="text-right">Итoговый баланс</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <%= for payment <- @payments do %>
          <tr>
            <td><%= payment.owner %></td>
            <td><%= payment.address %></td>
            <td><%= format_date(payment.made_at) %></td>
            <td class="text-right"><%= payment.balance %></td>
            <td class="text-right"><%= payment.charges %></td>
            <td class="text-right"><%= payment.payments %></td>
            <td class="text-right"><%= payment.total %></td>

            <td class="text-right">
                <%= link "История платежей", to: address_address_payment_path(@conn, :index, payment.address_id), class: "btn btn-success btn-xs" %>
                <%= link "Записать платёж", to: payment_path(@conn, :new, address_id: payment.address_id), class: "btn btn-primary btn-xs" %>
            </td>
          </tr>
      <% end %>
      <tr>
        <td colspan="3" class="text-right"><strong>Всего за месяц</strong></td>
        <td class="text-right"><%= @month_total.balance %></td>
        <td class="text-right"><%= @month_total.charges %></td>
        <td class="text-right"><%= @month_total.payments %></td>
        <td class="text-right"><%= @month_total.total %></td>
        <td></td>
      </tr>
  </tbody>
</table>
