<div class="page-header">
    <h2>Записать новый платёж</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: payment_path(@conn, :create) %>

<div class="col-sm-offset-2 col-sm-4">
    <%= link "Назад", to: payment_path(@conn, :index) %>
</div>
