<div class="page-header">
    <h2>Редактировать адрес</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: address_path(@conn, :update, @address) %>

<div class="col-sm-offset-2 col-sm-2">
    <%= link "Назад", to: address_path(@conn, :index) %>
</div>
