<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Не удалось изменить</p>
    </div>
  <% end %>

  <div class="form-group">
      <%= label f, :name, "Название", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= text_input f, :name, class: "form-control" %>
          <%= error_tag f, :name %>
      </div>
  </div>

  <div class="form-group">
      <%= label f, :owner, "Владелец", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= text_input f, :owner, class: "form-control" %>
          <%= error_tag f, :owner %>
      </div>
  </div>

  <div class="form-group">
      <%= label f, :email, "Email", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= text_input f, :email, class: "form-control" %>
          <%= error_tag f, :email %>
      </div>
  </div>

  <div class="form-group">
      <%= label f, :meter_num, "№ счётчика", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= text_input f, :meter_num, class: "form-control" %>
          <%= error_tag f, :meter_num %>
      </div>
  </div>

  <div class="form-group">
      <%= label f, :account_num, "№ л/счёта энергосбыта", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= text_input f, :account_num, class: "form-control" %>
          <%= error_tag f, :account_num %>
      </div>
  </div>

  <div class="form-group">
      <%= label f, :is_member, "Член кооператива?", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= checkbox f, :is_member, class: "form-control" %>
          <%= error_tag f, :is_member %>
      </div>
  </div>

  <div class="form-group">
      <%= label f, :is_free_member, "Освобождён от платежей?", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
          <%= checkbox f, :is_free_member, class: "form-control" %>
          <%= error_tag f, :is_free_member %>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
          <%= submit "Сохранить", class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
