<div class="page-header">
  <h2>Список адресов</h2>
</div>

<table class="table table-striped">
    <thead>
        <th>Адрес</th>
        <th>ФИО</th>
        <th></th>
    </thead>
  <tbody>
<%= for address <- @addresses do %>
    <tr>
      <td><%= address.name %></td>
      <td><%= address.owner %></td>
      <td class="text-right">
        <%= link "Редактировать", to: address_path(@conn, :edit, address), class: "btn btn-default btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
