<div class="page-header">
    <h2>Установка пароля для <%= @user.email %></h2>
</div>

<%= form_for @changeset, password_path(@conn, :update), [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Не удалось обновить пароль</p>
    </div>
  <% end %>

  <div class="form-group">
      <%= label f, :password, "Придумайте пароль", class: "control-label col-sm-2" %>
      <div class="col-sm-3">
          <%= password_input f, :password, class: "form-control" %>
          <em>Не менее 6 символов</em>
          <%= error_tag f, :password %>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
          <%= submit "Сохранить", class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
