<div class="page-header">
    <h2>Сброс пароля</h2>
</div>

<form method="POST" action="<%= password_path(@conn, :token) %>" class="form-horizontal">
  <input name="_csrf_token" type="hidden" value="<%= get_csrf_token() %>">

  <div class="form-group">
      <%= label :user, :email, "Ваш email", class: "control-label col-sm-2" %>
      <div class="col-sm-3">
          <%= text_input :user, :email, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
          <%= submit "Отправить", class: "btn btn-primary" %>
      </div>
  </div>
</form>
