<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
        <p>Не удалось сохранить.</p>
    </div>

    <%= inspect(@changeset) %>
  <% end %>

  <div class="form-group">
    <%= label f, :monthnum, "Месяц", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :monthnum, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :t01_rate, "Дневной тариф", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :t01_rate, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :t02_rate, "Ночной тариф", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :t02_rate, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :multiple_factor, "Множитель", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :multiple_factor, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :loss_coeff, "Коэфф. потерь", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :loss_coeff, class: "form-control" %>
        <%= error_tag f, :loss_coeff %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :loss_const, "Постоянные потери", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :loss_const, class: "form-control" %>
        <%= error_tag f, :loss_const %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :lighting_proportion, "Доля в освещении", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :lighting_proportion, class: "form-control" %>
        <%= error_tag f, :lighting_proportion %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :entrance_proportion, "Доля в воротах", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
        <%= text_input f, :entrance_proportion, class: "form-control" %>
        <%= error_tag f, :entrance_proportion %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <%= submit "Расчитать", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
