<div class="page-header">
  <h2>Все расчёты по электроэнергии</h2>
</div>

<div>
  <%= link "Создать новый", to: calculation_path(@conn, :new), class: "btn btn-primary btn-sm" %>
</div>

<%= for {month, calculations} <- @calculation_groups do %>
    <h4><%= month.name %></h4>
    <ul>
        <%= for calculation <- calculations do %>
            <li style="padding-bottom: 5px;">
                <%= link Timex.format!(calculation.inserted_at, "%F %T", :strftime), to: calculation_path(@conn, :show, calculation) %>
                <%= link "Удалить", to: calculation_path(@conn, :delete, calculation), method: :delete, data: [confirm: "Удалить расёт?"], class: "btn btn-danger btn-xs" %>
            </li>
        <% end %>
    </ul>
<% end %>
