<div class="page-header">
  <h2>Новый расчёт</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: calculation_path(@conn, :create) %>

<div class="col-sm-offset-2 col-sm-4">
  <%= link "Назад", to: calculation_path(@conn, :index) %>
</div>
