<div class="page-header">
  <h2>Расчёт потреблённой электроэнергии за месяц</h2>
</div>

<p>Потребитель СОПК "Бажовка-1"</p>
<p>
    Расчётный период
    <%= monthname(@calculation.monthnum) %>
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th rowspan=2>Точка учёта</th>
        <th rowspan=2>Тариф</th>
        <th colspan=2>Показания</th>
        <th rowspan=2>Коэфф.<br/>трансформации</th>
        <th rowspan=2>Разность показаний</th>
        <th rowspan=2>Расход, кВт*ч</th>
    </tr>
    <tr>
        <th>на начало периода</th>
        <th>на конец периода</th>
    </tr>
    <tr>
        <td rowspan=2>Коттедж -  (ф.№1), г. Полевской, с.Курганово</td>
        <td>день</td>
        <td><%= @calculation.f1t01prev %></td>
        <td><%= @calculation.f1t01curr %></td>
        <td><%= @calculation.multiple_factor %></td>
        <td><%= @calculation.f1t01curr - @calculation.f1t01prev %></td>
        <td><%= (@calculation.f1t01curr - @calculation.f1t01prev) * @calculation.multiple_factor %></td>
    </tr>
    <tr>
        <td>ночь</td>
        <td><%= @calculation.f1t02prev %></td>
        <td><%= @calculation.f1t02curr %></td>
        <td><%= @calculation.multiple_factor %></td>
        <td><%= @calculation.f1t02curr - @calculation.f1t02prev %></td>
        <td><%= (@calculation.f1t02curr - @calculation.f1t02prev) * @calculation.multiple_factor %></td>
    </td>

    <tr>
        <td rowspan=2>Коттедж -  (ф.№2), г. Полевской, с.Курганово</td>
        <td>день</td>
        <td><%= @calculation.f2t01prev %></td>
        <td><%= @calculation.f2t01curr %></td>
        <td><%= @calculation.multiple_factor %></td>
        <td><%= @calculation.f2t01curr - @calculation.f2t01prev %></td>
        <td><%= (@calculation.f2t01curr - @calculation.f2t01prev) * @calculation.multiple_factor %></td>
    </tr>
    <tr>
        <td>ночь</td>
        <td><%= @calculation.f2t02prev %></td>
        <td><%= @calculation.f2t02curr %></td>
        <td><%= @calculation.multiple_factor %></td>
        <td><%= @calculation.f2t02curr - @calculation.f2t02prev %></td>
        <td><%= (@calculation.f2t02curr - @calculation.f2t02prev) * @calculation.multiple_factor %></td>
    </td>

    <tr>
        <td rowspan=2>Уличное освещение, г. Полевской, с.Курганово</td>
        <td>день</td>
        <td><%= @calculation.lighting_t01_prev %></td>
        <td><%= @calculation.lighting_t01_curr %></td>
        <td>1</td>
        <td><%= @calculation.lighting_t01_curr - @calculation.lighting_t01_prev %></td>
        <td><%= @calculation.lighting_t01_curr - @calculation.lighting_t01_prev %></td>
    </tr>
    <tr>
        <td>ночь</td>
        <td><%= @calculation.lighting_t02_prev %></td>
        <td><%= @calculation.lighting_t02_curr %></td>
        <td>1</td>
        <td><%= @calculation.lighting_t02_curr - @calculation.lighting_t02_prev %></td>
        <td><%= @calculation.lighting_t02_curr - @calculation.lighting_t02_prev %></td>
    </td>

    <% pays_directly_calculations = Enum.filter(@calculation.address_calculations, &(&1.address.pays_directly)) %>
    <% pays_directly_f1_calculations = Enum.filter(pays_directly_calculations, &(&1.address.fider_num == 1)) %>
    <% pays_directly_f2_calculations = Enum.filter(pays_directly_calculations, &(&1.address.fider_num == 2)) %>

    <% pays_directly_f1t01_consumptions = Enum.map(pays_directly_f1_calculations, &(&1.t01_consumption)) |> Enum.sum %>
    <% pays_directly_f1t02_consumptions = Enum.map(pays_directly_f1_calculations, &(&1.t02_consumption)) |> Enum.sum %>
    <% pays_directly_f2t01_consumptions = Enum.map(pays_directly_f2_calculations, &(&1.t01_consumption)) |> Enum.sum %>
    <% pays_directly_f2t02_consumptions = Enum.map(pays_directly_f2_calculations, &(&1.t02_consumption)) |> Enum.sum %>

    <tr>
        <td rowspan=2>Транзит население -  (ф.№1), г. Полевской, с.Курганово</td>
        <td>день</td>
        <td>0</td>
        <td><%= pays_directly_f1t01_consumptions %></td>
        <td>1</td>
        <td><%= pays_directly_f1t01_consumptions %></td>
        <td><%= pays_directly_f1t01_consumptions %></td>
    </tr>

    <tr>
        <td>ночь</td>
        <td>0</td>
        <td><%= pays_directly_f1t02_consumptions %></td>
        <td>1</td>
        <td><%= pays_directly_f1t02_consumptions %></td>
        <td><%= pays_directly_f1t02_consumptions %></td>
    </td>

    <tr>
        <td rowspan=2>Транзит население -  (ф.№2), г. Полевской, с.Курганово</td>
        <td>день</td>
        <td>0</td>
        <td><%= pays_directly_f2t01_consumptions %></td>
        <td>1</td>
        <td><%= pays_directly_f2t01_consumptions %></td>
        <td><%= pays_directly_f2t01_consumptions %></td>
    </tr>

    <tr>
        <td>ночь</td>
        <td>0</td>
        <td><%= pays_directly_f2t02_consumptions %></td>
        <td>1</td>
        <td><%= pays_directly_f2t02_consumptions %></td>
        <td><%= pays_directly_f2t02_consumptions %></td>
    </td>
</table>

<% t01_loss_commercial_sum = Decimal.mult(Decimal.new(@calculation.t01_loss_commercial), @calculation.t01_rate) %>
<% t02_loss_commercial_sum = Decimal.mult(Decimal.new(@calculation.t02_loss_commercial), @calculation.t02_rate) %>

<table class="table table-bordered table-striped">
    <tr>
        <th>Коммерческие потери</th>
        <th>кВт*ч</th>
        <th>Тариф</th>
        <th>Сумма</th>
    </tr>
    <tr>
        <td>День</td>
        <td class="text-right"><%= @calculation.t01_loss_commercial %></td>
        <td class="text-right"><%= @calculation.t01_rate %></td>
        <td class="text-right"><%= t01_loss_commercial_sum %></td>
    </tr>
    <tr>
        <td>Ночь</td>
        <td class="text-right"><%= @calculation.t02_loss_commercial %></td>
        <td class="text-right"><%= @calculation.t02_rate %></td>
        <td class="text-right"><%= t02_loss_commercial_sum %></td>
    </tr>
    <tr>
        <td colspan=3>Всего</td>
        <td class="text-right"><%= Decimal.add(t01_loss_commercial_sum, t02_loss_commercial_sum) %></td>
    </tr>
</table>

<% f1_calculations = Enum.filter(@calculation.address_calculations, &(&1.address.fider_num == 1 && !&1.address.system)) %>
<% f2_calculations = Enum.filter(@calculation.address_calculations, &(&1.address.fider_num == 2 && !&1.address.system)) %>
<% f1t01_consumptions = Enum.map(f1_calculations, &(&1.t01_consumption)) %>
<% f1t02_consumptions = Enum.map(f1_calculations, &(&1.t02_consumption)) %>
<% f2t01_consumptions = Enum.map(f2_calculations, &(&1.t01_consumption)) %>
<% f2t02_consumptions = Enum.map(f2_calculations, &(&1.t02_consumption)) %>

<table class="table table-bordered table-striped">
    <tr>
        <th>Фидер</th>
        <th>Тариф</th>
        <th>Расход по счётчику</th>
        <th>Расход по домам</th>
        <th>Потери</th>
    </tr>
    <tr>
        <td rowspan=2>1</td>
        <td>день</td>
        <td><%= (@calculation.f1t01curr - @calculation.f1t01prev) * @calculation.multiple_factor %></td>
        <td><%= Enum.sum(f1t01_consumptions) %></td>
        <td><%= (@calculation.f1t01curr - @calculation.f1t01prev) * @calculation.multiple_factor - Enum.sum(f1t01_consumptions) %></td>
    </tr>
    <tr>
        <td>ночь</td>
        <td><%= (@calculation.f1t02curr - @calculation.f1t02prev) * @calculation.multiple_factor %></td>
        <td><%= Enum.sum(f1t02_consumptions) %></td>
        <td><%= (@calculation.f1t02curr - @calculation.f1t02prev) * @calculation.multiple_factor - Enum.sum(f1t02_consumptions) %></td>
    </tr>
    <tr>
        <td rowspan=2>2</td>
        <td>день</td>
        <td><%= (@calculation.f2t01curr - @calculation.f2t01prev) * @calculation.multiple_factor %></td>
        <td><%= Enum.sum(f2t01_consumptions) %></td>
        <td><%= (@calculation.f2t01curr - @calculation.f2t01prev) * @calculation.multiple_factor - Enum.sum(f2t01_consumptions) %></td>
    </tr>
    <tr>
        <td>ночь</td>
        <td><%= (@calculation.f2t02curr - @calculation.f2t02prev) * @calculation.multiple_factor %></td>
        <td><%= Enum.sum(f2t02_consumptions) %></td>
        <td><%= (@calculation.f2t02curr - @calculation.f2t02prev) * @calculation.multiple_factor - Enum.sum(f2t02_consumptions) %></td>
    </tr>
</table>

<table class="table table-bordered table-striped">
  <tr>
      <th>№ фидера</th>
      <th></th>
      <th class="text-right">Показание старое</th>
      <th class="text-right">Показание новое</th>
      <th class="text-right">Разность показаний</th>
      <th class="text-right">Расчётный коэффициент</th>
      <th class="text-right">Основной расход, кВт</th>
  </tr>
  <tr>
      <td>1</td>
      <td>день</td>
      <td class="text-right"><%= @calculation.f1t01prev %></td>
      <td class="text-right"><%= @calculation.f1t01curr %></td>
      <td class="text-right"><%= @calculation.f1t01curr - @calculation.f1t01prev %></td>
      <td class="text-right"><%= @calculation.multiple_factor %></td>
      <td class="text-right"><%= (@calculation.f1t01curr - @calculation.f1t01prev) * @calculation.multiple_factor %></td>
  </tr>
  <tr>
      <td></td>
      <td>ночь</td>
      <td class="text-right"><%= @calculation.f1t02prev %></td>
      <td class="text-right"><%= @calculation.f1t02curr %></td>
      <td class="text-right"><%= @calculation.f1t02curr - @calculation.f1t02prev %></td>
      <td class="text-right"><%= @calculation.multiple_factor %></td>
      <td class="text-right"><%= (@calculation.f1t02curr - @calculation.f1t02prev) * @calculation.multiple_factor %></td>
  </tr>
  <tr>
      <td>2</td>
      <td>день</td>
      <td class="text-right"><%= @calculation.f2t01prev %></td>
      <td class="text-right"><%= @calculation.f2t01curr %></td>
      <td class="text-right"><%= @calculation.f2t01curr - @calculation.f2t01prev %></td>
      <td class="text-right"><%= @calculation.multiple_factor %></td>
      <td class="text-right"><%= (@calculation.f2t01curr - @calculation.f2t01prev) * @calculation.multiple_factor %></td>
  </tr>
  <tr>
      <td></td>
      <td>ночь</td>
      <td class="text-right"><%= @calculation.f2t02prev %></td>
      <td class="text-right"><%= @calculation.f2t02curr %></td>
      <td class="text-right"><%= @calculation.f2t02curr - @calculation.f2t02prev %></td>
      <td class="text-right"><%= @calculation.multiple_factor %></td>
      <td class="text-right"><%= (@calculation.f2t02curr - @calculation.f2t02prev) * @calculation.multiple_factor %></td>
  </tr>
  <tr>
      <td></td>
      <td>потери день</td>
      <td colspan="3"></td>
      <td class="text-right"><%= @calculation.loss_coeff %>&nbsp;%</td>
      <td class="text-right"><%= @calculation.t01_loss_proportional %></td>
  </tr>
  <tr>
      <td></td>
      <td>потери ночь</td>
      <td colspan="3"></td>
      <td class="text-right"><%= @calculation.loss_coeff %>&nbsp;%</td>
      <td class="text-right"><%= @calculation.t02_loss_proportional %></td>
  </tr>
</table>

<table class="table table-bordered table-striped">
  <tr>
      <th>Период</th>
      <th colspan="2">Наименование показателя</th>
      <th class="text-right">Кол-во, кВт</th>
      <th class="text-right">Цена (тариф), руб.</th>
      <th class="text-right">Сумма, руб.</th>
  </tr>
  <tr>
      <td><%= monthname(@calculation.monthnum) %></td>
      <td>жители</td>
      <td>день</td>
      <td class="text-right"><%= @calculation.t01_consumption + @calculation.t01_loss_proportional + @calculation.loss_const %></td>
      <td class="text-right"><%= number_with_precision(@calculation.t01_rate, precision: 2) %></td>
      <td class="text-right"><%= number_with_precision(@calculation.gen_t01_sum, precision: 2) %></td>
  </tr>
  <tr>
      <td><%= monthname(@calculation.monthnum) %></td>
      <td>жители</td>
      <td>ночь</td>
      <td class="text-right"><%= @calculation.t02_consumption + @calculation.t02_loss_proportional + @calculation.loss_const %></td>
      <td class="text-right"><%= number_with_precision(@calculation.t02_rate, precision: 2) %></td>
      <td class="text-right"><%= number_with_precision(@calculation.gen_t02_sum, precision: 2) %></td>
  </tr>
  <tr>
      <td><%= monthname(@calculation.monthnum) %></td>
      <td>освещение</td>
      <td>день</td>
      <td class="text-right"><%= @calculation.lighting_t01_consumption %></td>
      <td class="text-right"><%= number_with_precision(@calculation.t01_rate, precision: 2) %></td>
      <td class="text-right"><%= number_with_precision(@calculation.lighting_t01_sum, precision: 2) %></td>
  </tr>
  <tr>
      <td><%= monthname(@calculation.monthnum) %></td>
      <td>освещение</td>
      <td>ночь</td>
      <td class="text-right"><%= @calculation.lighting_t02_consumption %></td>
      <td class="text-right"><%= number_with_precision(@calculation.t02_rate, precision: 2) %></td>
      <td class="text-right"><%= number_with_precision(@calculation.lighting_t02_sum, precision: 2) %></td>
  </tr>
  <tr>
      <td><%= monthname(@calculation.monthnum) %></td>
      <td>ворота</td>
      <td>день</td>
      <td class="text-right"><%= @calculation.entrance_t01_consumption %></td>
      <td class="text-right"><%= number_with_precision(@calculation.t01_rate, precision: 2) %></td>
      <td class="text-right"><%= number_with_precision(@calculation.entrance_t01_sum, precision: 2) %></td>
  </tr>
  <tr>
      <td><%= monthname(@calculation.monthnum) %></td>
      <td>ворота</td>
      <td>ночь</td>
      <td class="text-right"><%= @calculation.entrance_t02_consumption %></td>
      <td class="text-right"><%= number_with_precision(@calculation.t02_rate, precision: 2) %></td>
      <td class="text-right"><%= number_with_precision(@calculation.entrance_t02_sum, precision: 2) %></td>
  </tr>
  <tr>
    <td class="text-right" colspan="5">
        <b>ИТОГО к оплате</b>
    </td>
    <td class="text-right">
        <b><%= number_with_precision(gen_sum(@calculation), precision: 2) %></b>
    </td>
  </tr>
</table>

<table class="table table-bordered table-striped">
  <tr>
      <th>Адрес</th>
      <th>ФИО</th>
      <th>День старое</th>
      <th>День новое</th>
      <th>День корр.</th>
      <th>День расход</th>
      <th>День потери</th>
      <th>День сумма</th>
      <th>Ночь старое</th>
      <th>Ночь новое</th>
      <th>Ночь корр.</th>
      <th>Ночь расход</th>
      <th>Ночь потери</th>
      <th>Ночь сумма</th>
      <th>Всего</th>
  </tr>
  <%= for address_calculation <- Enum.sort(@calculation.address_calculations, &(&1.address.owner < &2.address.owner)) do %>
      <tr>
          <td><%= address_calculation.address.name %></td>
          <td><%= address_calculation.address.owner %></td>
          <td class="text-right"><%= address_calculation.t01_prev %></td>
          <td class="text-right"><%= address_calculation.t01_curr %></td>
          <td class="text-right"><%= address_calculation.t01_corr %></td>
          <td class="text-right"><%= address_calculation.t01_consumption %></td>
          <td class="text-right"><%= number_with_precision(address_calculation.t01_loss, precision: 4) %></td>
          <td class="text-right"><%= number_with_precision(address_calculation.t01_sum, precision: 2) %></td>
          <td class="text-right"><%= address_calculation.t02_prev %></td>
          <td class="text-right"><%= address_calculation.t02_curr %></td>
          <td class="text-right"><%= address_calculation.t02_corr %></td>
          <td class="text-right"><%= address_calculation.t02_consumption %></td>
          <td class="text-right"><%= number_with_precision(address_calculation.t02_loss, precision: 4) %></td>
          <td class="text-right"><%= number_with_precision(address_calculation.t02_sum, precision: 2) %></td>
          <td class="text-right">
              <b><%= number_with_precision(Decimal.add(address_calculation.t01_sum, address_calculation.t02_sum), precision: 2) %></b>
          </td>
      </tr>
  <% end %>
  <tr>
    <td class="text-right" colspan="14">
        <b>Всего</b>
    </td>
    <td class="text-right">
        <b><%= number_with_precision(ind_sum(@calculation), precision: 2) %></b>
    </td>
  </tr>
</table>
