<div class="page-header">
    <h2>Вход</h2>
</div>

<form method="POST" action="<%= session_path(@conn, :create) %>" class="form-horizontal">
  <input name="_csrf_token" type="hidden" value="<%= get_csrf_token() %>">
  <input name="redirect_to" type="hidden" value="<%= @redirect_to %>">

  <div class="form-group">
      <%= label :data, :email, class: "col-sm-1 control-label" %>
      <div class="col-sm-4">
          <%= text_input :data, :email, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= label :data, :password, "Пароль", class: "col-sm-1 control-label" %>
      <div class="col-sm-4">
          <%= password_input :data, :password, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-1 col-sm-4">
          <%= submit "Войти", class: "btn btn-primary" %>
          &nbsp;
          <%= link "Я не знаю свой пароль", to: password_path(@conn, :reset) %>
      </div>
  </div>
</form>
