/* This file is for your main application css. */
@import "phoenix.css";

body {
    padding-top: 50px;
}

.jumbotron {
    /* background-color: #6f5499; */
    color: black;
}

.post {
  margin-bottom: 24px;
}

a.post-header {
    color: black;
}

.bs-callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
