<div class="page-header">
  <h2>Изменить документ</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: document_path(@conn, :update, @document) %>

<div class="col-sm-offset-2 col-sm-2">
  <%= link "Назад", to: folder_document_path(@conn, :index, @document.folder_id) %>
</div>
