<%= form_for @changeset, @action, [multipart: true, class: "form-horizontal"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Не удалось сохранить документ.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, "Название", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= text_input f, :name, class: "form-control" %>
      <%= error_tag f, :name %>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :folder_id, "Папка", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= select f, :folder_id, folders_selections(), class: "form-control" %>
      <%= error_tag f, :folder_id %>
    </div>
  </div>

  <%= unless @changeset.data.id do %>
    <div class="form-group">
      <%= label f, :upload, "Файл", class: "control-label col-sm-2" %>
      <div class="col-sm-4">
        <%= file_input f, :upload, class: "form-control" %>
        <%= error_tag f, :path %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= submit "Сохранить", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
