<div class="page-header">
    <h2>Документы</h2>
</div>

<%= if @folder do %>
    <ol class="breadcrumb">
        <li><%= link "Документы", to: folder_path(@conn, :index) %></li>
        <li class="active"><%= @folder.name %></li>
    </ol>
<% end %>

<%= if current_user(@conn).role == "admin" do %>
    <%= link "Создать документ", to: document_path(@conn, :new, folder_id: @folder), class: "btn btn-primary btn-sm" %>
    &nbsp;
    <%= link "Создать папку", to: folder_path(@conn, :new), class: "btn btn-primary btn-sm" %>
<% end %>

<ul class="list-group">
    <%= for document <- @documents do %>
        <li class="list-group-item">
            <%= link document.name, to: document_path(@conn, :show, document) %>
            <%= if current_user(@conn).role == "admin" do %>
                <div class="pull-right">
                    <%= link "Изменить", to: document_path(@conn, :edit, document), class: "btn btn-default btn-xs" %>
                    <%= link "Удалить", to: document_path(@conn, :delete, document), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
                </div>
            <% end %>
        </li>
    <% end %>
</ul>
