<div class="page-header">
  <h2>Новый документ</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: document_path(@conn, :create) %>

<div class="col-sm-offset-2 col-sm-2">
    <%= if @folder_id do %>
        <%= link "Назад", to: folder_document_path(@conn, :index, @folder_id) %>
    <% else %>
        <%= link "Назад", to: document_path(@conn, :index) %>
    <% end %>
</div>
