<div class="page-header">
  <h2>
    История показания для <%= @address.name %>
  </h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Месяц</th>
      <th class="text-right">День</th>
      <th class="text-right">Ночь</th>
    </tr>
  </thead>
  <tbody>
<%= for indication <- @indications do %>
    <% month = Bazhovka.Month.from_num(indication.monthnum) %>
    <tr>
      <td>
        <%= month.name %>
      </td>
      <td class="text-right">
        <%= indication.t01 %>
      </td>
      <td class="text-right">
        <%= indication.t02 %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


