<div class="page-header">
    <h2>Редактирование опроса</h2>
</div>

<div class="bs-callout bs-callout-danger">
    <h4>Внимание.</h4>
    <p>Редактировать запрос по которому уже есть ответы - плохая идея. Связь с существующими ответами будет потеряна.</p>
</div>

<%= render "form.html", changeset: @changeset,
                        action: poll_path(@conn, :update, @poll) %>

<%= link "Назад", to: poll_path(@conn, :index) %>
