<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, "Заголовок", class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :questions_string, "Варианты ответов", class: "control-label" %>
    <%= textarea f, :questions_string, class: "form-control", placeholder: "Одна строка - один вариант", rows: 4 %>
    <%= error_tag f, :questions_string %>
  </div>

  <div class="form-group">
    <%= submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
