<div class="page-header">
    <h2>Опросы</h2>
    <%= link "Создать новый опрос", to: poll_path(@conn, :new), class: "btn btn-primary btn-sm" %>
</div>

<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
  <%= for poll <- @polls do %>
    <%= render "poll.html", poll: poll, admin_mode: current_user(@conn).role == "admin", conn: @conn %>
  <% end %>

</div>
