<div class="page-header">
  <h2>Создать опрос</h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: poll_path(@conn, :create) %>

<%= link "Назад", to: poll_path(@conn, :index) %>
