<% vote_addr_index = Enum.reduce(@poll.votes, %{}, fn(v, acc) -> Map.put(acc, v.address_id, v.answer) end) %>
<% vote_poll_index = Enum.reduce(@poll.votes, %{}, fn(v, acc) -> Map.update(acc, v.answer, 1, &(&1 + 1)) end) %>
<% vote_count = Enum.count(@poll.votes) %>
<% percent = fn(answer) -> if vote_count > 0, do: Decimal.mult(Decimal.new(100), Decimal.div(Decimal.new(vote_poll_index[answer] || 0), Decimal.new(vote_count))), else: 0 end %>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= @poll.title %>
        <%= if @admin_mode do %>
        <div class="pull-right">
            <%= link "Редактировать", to: poll_path(@conn, :edit, @poll), class: "btn btn-primary btn-xs" %>
            <%= if @poll.active do %>
                <%= link "Завершить", to: poll_path(@conn, :complete, @poll), method: :post, class: "btn btn-warning btn-xs" %>
            <% else %>
                <%= link "Возобновить", to: poll_path(@conn, :resume, @poll), method: :post, class: "btn btn-warning btn-xs" %>
            <% end %>
            <%= link "Удалить", to: poll_path(@conn, :delete, @poll), method: :delete, data: [confirm: "Удалить этот опрос?"], class: "btn btn-danger btn-xs" %>
        </div>
        <% end %>
    </div>
    <div class="panel-body">
        <%= if @admin_mode || !@poll.active do %>
            <%= for {k, q} <- @poll.questions do %>
                <h5><%= q %></h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= percent.(k) %>%;">
                        <%= vote_poll_index[k] || 0 %>&nbsp;из&nbsp;<%= vote_count %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="btn-group" role="group" aria-label="...">
                <%= for {k, q} <- @poll.questions do %>
                    <% current_address = Bazhovka.AddressService.user_address(current_user(@conn)) %>
                    <% if current_address && vote_addr_index[current_address.id] == k do %>
                    <% btn_class = "btn btn-primary" %>
                    <% else %>
                    <% btn_class = "btn btn-default" %>
                    <% end %>
                    <%= link q, to: poll_vote_path(@conn, :create, @poll, answer: k, return_to: @conn.request_path), method: :post, class: btn_class %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="panel-footer">
        <%= if !@poll.active, do: "Опрос завершён." %>
        <p>Проголосовали: <%= length(@poll.votes) %> чел.</p>
        <%= if @admin_mode do %>
            <p>
                Код для вставки:
                <input type="text" value="<%= paste_code(@poll) %>"/>
            </p>
        <% end %>
    </div>
</div>
