<h2>Show poll</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @poll.title %>
  </li>

  <li>
    <strong>Questions:</strong>
    <%= @poll.questions %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @poll.active %>
  </li>

</ul>

<%= link "Edit", to: poll_path(@conn, :edit, @poll) %>
<%= link "Back", to: poll_path(@conn, :index) %>
