<p>
  <table class="gen">
    <tr>
      <td class="underline" colspan=12>
        <strong>Строительно-обслуживающий потребительский кооператив &laquo;Бажовка-1&raquo;</strong>
      </td>
    </tr>

    <tr>
      <td class="underline" colspan=5>
        6671323258
      </td>
      <td colspan=2></td>
      <td class="underline" colspan=5>
        40703810000050000321
      </td>
    </tr>
    <tr>
      <td colspan=5>
        <em>(ИНН получателя платежа)</em>
      </td>
      <td colspan=2></td>
      <td colspan=5>
        <em>(Номер счета получателя платежа)</em>
      </td>
    </tr>

    <tr>
      <td class="underline" colspan=9>
        Банк «Нейва» ООО
      </td>

      <td colspan=1>БИК</td>

      <td class="underline" colspan=2>
        046577774
      </td>
    </tr>
    <tr>
      <td colspan=9>
        <em>(наименование банка получателя платежа)</em>
      </td>
      <td colspan=1></td>
      <td colspan=2>
        <em></em>
      </td>
    </tr>

    <tr>
      <td colspan=6>
        Номер кор./сч. банка получателя платежа
      </td>
      <td class="underline" colspan=6>
        30101810400000000774
      </td>
    </tr>

    <tr>
      <td class="underline" colspan=6>
        <%= @payment_receipt.comment %>
      </td>

      <td colspan=1>&nbsp;</td>

      <td class="underline" colspan=5>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan=6>
        <em>(наименование платежа)</em>
      </td>
      <td colspan=1></td>
      <td colspan=5>
        <em>(номер лицевого счета  плательщика)</em>
      </td>
    </tr>

    <tr>
      <td colspan=3>
        Ф.И.О. плательщика:
      </td>
      <td class="underline" colspan=9>
        <%= @payment_receipt.address.owner %>
      </td>
    </tr>

    <tr>
      <td colspan=3>
        Адрес плательщика:
      </td>
      <td class="underline" colspan=9>
        <%= @payment_receipt.address.name %>
      </td>
    </tr>

    <tr>
      <td colspan=3>
        Сумма платежа:
      </td>
      <td class="underline" colspan=9>
        <%= Map.get(@payment_receipt.meta, "gen_sum") %>р.
      </td>
    </tr>

    <tr>
      <td colspan=3>
        <%= if @payment_receipt.balance.sign == -1, do: "Задолженность:", else: "Остаток:" %>
      </td>
      <td class="underline" colspan=9>
        <%= number_with_precision(Decimal.abs(@payment_receipt.balance), precision: 2) %>р.
      </td>
    </tr>

    <tr>
      <td colspan=2>
        <strong>Итого:</strong>
      </td>
      <td class="underline" colspan=1>
        <strong><%= Map.get(@payment_receipt.meta, "total_sum") %>р.</stong>
      </td>
      <td colspan=2>&nbsp;</td>
      <td colspan=5>
        <strong>Оплатить до:</strong>
      </td>
      <td class="underline" colspan=2>
        <strong><%= due_date(@payment_receipt.payment) %></stong>
      </td>
    </tr>
  </table>
</p>
