<p>
  На основании Приказа №2 от 08.02.2021 переводить денежные средства путем получения на личный счет Лебедевой Т.С.
</p>
<p>
  № карты:
  <br/>
  <strong>4279 3806 7521 5448</strong>
</p>
<p>Лебедева Татьяна Сергеевна</p>
<h3>
  НЕ ДЛЯ ОПЛАТЫ ЧЕРЕЗ БАНК
</h3>
<h3 align="center">
  ПРИ ОПЛАТЕ ПРОСЬБА НЕ УКАЗЫВАТЬ НАЗНАЧЕНИЕ ПЛАТЕЖА
</h3>
