<html lang="ru">
  <head>
    <meta charset="utf-8" http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= render "_neyva_style.html", payment_receipt: @payment_receipt %>
  </head>
  <body>
    <table class="main">
      <tr>
        <td class="left">
          Извещение
          <%= render "_note.html" %>
        </td>
        <td class="right">
          <%= render "_member_gen.html", payment_receipt: @payment_receipt %>
        </td>
      <tr>
        <td class="left">
          Квитанция
          <%= render "_note.html" %>
        </td>
        <td class="right">
          <%= render "_member_gen.html", payment_receipt: @payment_receipt %>
        </td>
      </tr>
    </table>
    <p class="note">
      <%= @payment_receipt.note %>
    </p>
  </body>
</html>
