<div class="page-header">
    <h2>
        Изменить платёж для
        <%= @address.name %>
        &ndash;
        <%= @address.owner %>
    </h2>
</div>

<%= render "form.html", changeset: @changeset,
                        action: address_address_payment_path(@conn, :update, @address, @address_payment) %>

<div class="col-sm-offset-2 col-sm-4">
    <%= link "Назад", to: address_address_payment_path(@conn, :index, @address) %>
</div>
