<div class="page-header">
    <h2>
        История платежей для
        <%= @address.name %>
        &ndash;
        <%= @address.owner %>
    </h2>
</div>

<div class="bs-callout bs-callout-info">
    <h4>Баланс счёта</h4>
    <p>
        <%= Enum.map @total_sum, fn [type, sum] -> %>
            <%= "#{payment_type_name(type)}: #{sum}" %>;&nbsp;
        <% end %>

        <strong>
            <%= "Всего: #{Enum.reduce(@total_sum, Decimal.new(0), fn ([_, sum], acc) -> Decimal.add(acc, sum) end)}" %>
        </strong>
    </p>
</div>

<%= form_for @conn, address_address_payment_path(@conn, :index, @address.id), [class: "form-inline", method: "get", as: "filter"], fn f -> %>
  <div class="form-group">
    <label class="control-label">Фильтр платежей</label>
    <%= select f, :type, [{"Все", "all"} | payment_type_selections()], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Применить", class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Месяц</th>
            <th>Дата</th>
            <th class="text-right">Начислено</th>
            <th class="text-right">Внесено</th>
            <th>Комментарий</th>
            <th>Квитанция</th>
            <%= if current_user(@conn).role == "admin" do %>
                <th class="text-right">
                    <%= link "Записать платёж", to: address_address_payment_path(@conn, :new, @address), class: "btn btn-primary btn-xs" %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <%= for address_payment <- @address_payments do %>
            <tr>
                <td><%= monthname address_payment.monthnum %></td>
                <td><%= format_date address_payment.made_at || address_payment.inserted_at %></td>

                <%= cond do %>
                  <% address_payment.sum.coef == 0 -> %>
                    <td class="text-right"><%= address_payment.sum %></td>
                    <td class="text-right"></td>
                  <% Decimal.to_float(address_payment.sum) > 0 -> %>
                    <td class="text-right"></td>
                    <td class="text-right"><%= address_payment.sum %></td>
                  <% Decimal.to_float(address_payment.sum) < 0 -> %>
                    <td class="text-right"><%= Decimal.minus(address_payment.sum) %></td>
                    <td class="text-right"></td>
                <% end %>

                <td><%= address_payment.comment %></td>
                <td>
                  <%= if address_payment.payment_receipt do %>
                    <%= link "Просмотр", to: payment_receipt_path(@conn, :show, address_payment.payment_receipt), class: "btn btn-success btn-xs" %>
                  <% end %>
                </td>
                <%= if current_user(@conn).role == "admin" do %>
                    <td class="text-right">
                        <%= link "Изменить", to: address_address_payment_path(@conn, :edit, @address, address_payment), class: "btn btn-default btn-xs" %>
                        <%= link "Удалить", to: address_address_payment_path(@conn, :delete, @address, address_payment), method: :delete, data: [confirm: "Удалить платёж?"], class: "btn btn-danger btn-xs" %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
