<div class="jumbotron">
  <h2>
    Информационный сайт
    <br />
    коттеджного посёлка &laquo;Бажовка&raquo;
  </h2>
</div>

<%= if current_user(@conn) do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Наши новости
      <%= if current_user(@conn).role == "admin" do %>
        <div class="pull-right">
            <%= link "Написать", to: post_path(@conn, :new), class: "btn btn-primary btn-xs" %>
        </div>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <%= for post <- @posts do %>
            <div class="media post">
              <div class="media-body">
                <small>
                  <span class="label label-default">
                    <%= format_time post.inserted_at %>
                  </span>
                </small>

                <h3 class="media-heading">
                  <%= link post.caption, to: post_path(@conn, :show, post), class: "post-header" %>
                </h3>

                <%= raw truncate_post(markdown(post.body)) %>
                <%= link to: post_path(@conn, :show, post) do %>
                  Полная версия статьи &rarr;
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="bs-callout bs-callout-warning">
      Просмотр информации доступен только для жителей посёлка.
      <%= link "Войти на сайт.", to: session_path(@conn, :new) %>
  </div>
<% end %>
