<div class="page-header">
  <h2>
    Запись показаний счётчиков за
    <%= @month.name %>
  </h2>
</div>

<% prev_month = Bazhovka.Month.prev(@month) %>
<% next_month = Bazhovka.Month.next(@month) %>

<ul class="pagination">
  <li>
    <%= link to: indication_path(@conn, :batch, month: prev_month.num) do %>
      <span aria-hidden="true">&laquo;&nbsp;<%= prev_month.name %></span>
    <% end %>
  </li>
  <li>
    <%= link to: indication_path(@conn, :batch, month: next_month.num) do %>
        <span aria-hidden="true"><%= next_month.name %>&nbsp;&raquo;</span>
    <% end %>
  </li>
</ul>

<form method="POST" action="<%=  indication_path(@conn, :batch, month: @month.num) %>">
    <input name="_csrf_token" type="hidden" value="<%= get_csrf_token() %>">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Адрес</th>
                <th class="text-right">Показания день</th>
                <th class="text-right">Показания ночь</th>
            </tr>
        </thead>
        <tbody>
            <%= for {address_id, address_with_indications} <- @addresses_with_indications do %>
                <tr>
                    <td><%= address_with_indications.owner %></td>
                    <td><%= address_with_indications.name %></td>
                    <td class="text-right">
                        <%= address_with_indications.prev.t01 || 0 %>
                        &ndash;
                        <input type="text" name="address_indications[<%= address_id %>][t01]" value="<%=  address_with_indications.current.t01 %>">
                    </td>
                    <td class="text-right">
                        <%= address_with_indications.prev.t02 || 0 %>
                        &ndash;
                        <input type="text" name="address_indications[<%= address_id %>][t02]" value="<%=  address_with_indications.current.t02 %>">
                    </td>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <input type="Submit" class="btn btn-default" value="Сохранить">
</form>
