<p>При отсутствии показаний к учёту будут приняты показания, рассчитанные исходя из среднемесячного объема потребления в порядке, установленном п.59 постановления Правительства РФ от 6 мая 2011 г. N 354 "О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов".</p>
<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <input name="address" type="hidden", value="<%= @changeset.data.address.id %>">
  <input name="month" type="hidden", value="<%= @changeset.data.monthnum %>">

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Не удалось сохранить.</p>
    </div>
  <% end %>

  <div class="form-group">
    <label for="t01" class="col-sm-1 col-xs-2 control-label">День</label>
    <div class="col-sm-4 col-xs-6 col-md-3">
      <em>В прошлом месяце: <%= @prev_indications.t01 %></em>
      <%= text_input f, :t01, class: "form-control", id: "t01", placeholder: "Укажите новые показания Т1" %>
      <em><%= error_tag f, :t01 %></em>
    </div>
  </div>

  <div class="form-group">
    <label for="t02" class="col-sm-1 col-xs-2 control-label">Ночь</label>
    <div class="col-sm-4 col-xs-6 col-md-3">
      <em>В прошлом месяце: <%= @prev_indications.t02 %></em>
      <%= text_input f, :t02, class: "form-control", id: "t02", placeholder: "Укажите новые показания Т2" %>
      <em><%= error_tag f, :t02 %></em>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-xs-offset-2 col-sm-10">
      <%= submit "Записать", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
