<div class="page-header">
  <h2>
    Показания счётчиков за
    <%= @month.name %>
  </h2>
</div>

<% prev_month = Bazhovka.Month.prev(@month) %>
<% next_month = Bazhovka.Month.next(@month) %>

<div class="row">
    <div class="col-md-6">
        <ul class="pagination">
            <li>
                <%= link to: indication_path(@conn, :index, month: prev_month.num) do %>
                    <span aria-hidden="true">&laquo;&nbsp;<%= prev_month.name %></span>
                <% end %>
            </li>
            <li>
                <%= link to: indication_path(@conn, :index, month: next_month.num) do %>
                    <span aria-hidden="true"><%= next_month.name %>&nbsp;&raquo;</span>
                <% end %>
            </li>
        </ul>
    </div>
    <div class="col-md-offset-4 col-md-2 text-right">
        <%= link "Записать все", to: indication_path(@conn, :batch, month: @month.num), class: "btn btn-primary btn-sm" %>
    </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Адрес</th>
      <th class="text-right">Показания день</th>
      <th class="text-right">Показания ночь</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for addresses_indication <- rows(@addresses_with_indications) do %>
    <tr>
      <td><%= addresses_indication.address.owner %></td>
      <td><%= addresses_indication.address.name %></td>
      <td class="text-right"><%= addresses_indication.t01 %></td>
      <td class="text-right"><%= addresses_indication.t02 %></td>
      <td class="text-right">
        <%= link "Расчёты", to: address_address_calculation_path(@conn, :index, addresses_indication.address), class: "btn btn-success btn-xs" %>
        <%= link "Записать", to: indication_path(@conn, :new, address: addresses_indication.address, month: @month.num), class: "btn btn-primary btn-xs" %>
        <%= if addresses_indication.id do %>
          <%= link "Удалить", to: indication_path(@conn, :delete, addresses_indication.id), method: :delete, data: [confirm: "Удалить запись?"], class: "btn btn-danger btn-xs" %>
        <% else %>
          <%= link "Удалить", to: "#", class: "btn btn-danger btn-xs", disabled: "disabled" %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
