<div class="page-header">
  <h2>Записать показания</h2>

  <h5>
    <%= @changeset.data.address.name %>
    &ndash;
    <%= @changeset.data.address.owner %>
    за
    <%= Bazhovka.Month.from_num(@changeset.data.monthnum).name %>
  </h5>
</div>



<%= render "form.html", changeset: @changeset,
                        prev_indications: @prev_indications,
                        action: indication_path(@conn, :create) %>

<div class="col-sm-offset-1 col-xs-offset-2 col-sm-4">
  <%= link "Назад", to: indication_path(@conn, :index) %>
</div>
