<p>Добрый день.</p>

<p>
  Во вложении квитанция на электроэнергию за
  <%= @month.name %>
  для
  <%= @payment_receipt.address.name %>
</p>

<p>
  Ваш расход за месяц:
  <br/>
  По дневному тарифу:
  <%= Map.get(@payment_receipt.meta, "t01_consumption") %>
  кВт*ч
  <br/>
  По ночному тарифу:
  <%= Map.get(@payment_receipt.meta, "t02_consumption") %>
  кВт*ч
</p>

<p>
  Формула расчёта суммы:
  <br/>
  ОбщиеПотери = РасходПоОбщемуСчётчику + ПроцентПеременныхПотерь + ПостоянныеПотери - СуммаРасходовИндивидСчётчиков
  <br/>
  ВашиПотери = (ВашРасход / СуммаРасходовИндивидСчётчиков) * ОбщиеПотери
  <br/>
  <%= if @payment_receipt.address do %>
    Cумма = ВашиПотери * Тариф
  <% else %>
    Cумма = (ВашРасход + ВашиПотери) * Тариф
  <% end %>
</p>

<p>
  Общие потери по дневному тарифу:
  <%= "#{Map.get(@payment_receipt.meta, "t01_consumption_sum")} + #{Map.get(@payment_receipt.meta, "loss_coeff")}% + #{Map.get(@payment_receipt.meta, "loss_const")} - #{Map.get(@payment_receipt.meta, "t01_counters_sum")} = #{Map.get(@payment_receipt.meta, "t01_loss_sum")}" %>
  <br/>
  Ваши потери по дневному тарифу:
  <%= "(#{Map.get(@payment_receipt.meta, "t01_consumption")} / #{Map.get(@payment_receipt.meta, "t01_counters_sum")}) * #{Map.get(@payment_receipt.meta, "t01_loss")} = #{Map.get(@payment_receipt.meta, "t01_loss")}" %>
  <br/>
  Сумма по дневному тарифу:
  <%= if @payment_receipt.address.pays_directly do %>
    <%= "(#{Map.get(@payment_receipt.meta, "t01_loss")}) * #{Map.get(@payment_receipt.meta, "t01_rate")} = #{number_to_currency Map.get(@payment_receipt.meta, "t01_sum")}" %>
  <% else %>
    <%= "(#{Map.get(@payment_receipt.meta, "t01_consumption")} + #{Map.get(@payment_receipt.meta, "t01_loss")}) * #{Map.get(@payment_receipt.meta, "t01_rate")} = #{number_to_currency Map.get(@payment_receipt.meta, "t01_sum")}" %>
  <% end %>
</p>

<p>
  Общие потери по ночному тарифу:
  <%= "#{Map.get(@payment_receipt.meta, "t02_consumption_sum")} + #{Map.get(@payment_receipt.meta, "loss_coeff")}% + #{Map.get(@payment_receipt.meta, "loss_const")} - #{Map.get(@payment_receipt.meta, "t02_counters_sum")} = #{Map.get(@payment_receipt.meta, "t02_loss_sum")}" %>
  <br/>
  Ваши потери по ночному тарифу:
  <%= "(#{Map.get(@payment_receipt.meta, "t02_consumption")} / #{Map.get(@payment_receipt.meta, "t02_counters_sum")}) * #{Map.get(@payment_receipt.meta, "t02_loss")} = #{Map.get(@payment_receipt.meta, "t02_loss")}" %>
  <br/>
  Сумма по ночному тарифу:
  <%= if @payment_receipt.address.pays_directly do %>
    <%= "(#{Map.get(@payment_receipt.meta, "t02_loss")}) * #{Map.get(@payment_receipt.meta, "t02_rate")} = #{number_to_currency Map.get(@payment_receipt.meta, "t02_sum")}" %>
  <% else %>
    <%= "(#{Map.get(@payment_receipt.meta, "t02_consumption")} + #{Map.get(@payment_receipt.meta, "t02_loss")}) * #{Map.get(@payment_receipt.meta, "t02_rate")} = #{number_to_currency Map.get(@payment_receipt.meta, "t02_sum")}" %>
  <% end %>
</p>

<p>
  Итоговая сумма:
  <%= "#{number_to_currency Map.get(@payment_receipt.meta, "t01_sum")} + #{number_to_currency Map.get(@payment_receipt.meta, "t02_sum")} = #{Map.get(@payment_receipt.meta, "gen_sum")}" %>
</p>

<%= if @payment_receipt.note do %>
  <p>
    <%= @payment_receipt.note %>
  </p>
<% end %>

<p>
  Правление СОПК "Бажовка-1"
</p>
