<h4>
  Добрый день,
  <br/>
</h4>

<p>
  Напоминаем о необходимости ежемесячной передачи показаний счётчиков электроэнергии.
  Для передачи пройдите, пожалуйста, по <%= link "этой ссылке", to: session_url(Bazhovka.Endpoint, :new, token: @token_id, redirect_to: personal_path(Bazhovka.Endpoint, :index)) %>.
  Ссылка будет доступна до конца недели - до <%= format_date @due_date %> включительно.
  При отсутствии показаний к учёту будут приняты показания, рассчитанные исходя из среднемесячного объема потребления в порядке, установленном п.59 постановления Правительства РФ от 6 мая 2011 г. N 354 "О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов".
</p>

<p>
  C уважением,
  <br/>
  Правление&nbsp;СОПК&nbsp;&laquo;Бажовка-1&raquo;
</p>
