<h4>
  Добрый день,
  <br/>
  <br/>
  На нашем сайте появилась новость
  <%= link to: session_url(Bazhovka.Endpoint, :new, token: @token_id, redirect_to: post_path(Bazhovka.Endpoint, :show, @post)) do %>
    &laquo;<%= @post.caption %>&raquo;
  <% end %>
</h4>

<p>
  C уважением,
  <br/>
  Правление&nbsp;СОПК&nbsp;&laquo;Бажовка-1&raquo;
</p>
