<% reset_url = password_path(Bazhovka.Endpoint, :reset) %>
<% login_url = session_url(Bazhovka.Endpoint, :new, redirect_to: reset_url, token: @token_id) %>

<p>Добрый день.</p>

<p>
    Для установки нового пароля пройдите по ссылке:
    <br/>
    <%= link login_url, to: login_url %>
</p>
