<% reset_url = password_path(Bazhovka.Endpoint, :reset) %>
<% login_url = session_path(Bazhovka.Endpoint, :new, redirect_to: reset_url, token: @token_id) %>

<h4>
  Добрый день,
  <br/>
  <br/>
  Добро пожаловать на сайт Бажовки.
</h4>

<p>
  Для входа необходимо пройти по ссылке:
  <br/>
  <%= link login_url, to: login_url %>
</p>
