<div class="page-header">
  <h2><%= "Расчёты для #{@address.name} - #{@address.owner}" %></h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Месяц Год</th>
      <th class="text-right">Показания день</th>
      <th class="text-right">Корр. день</th>
      <th class="text-right">Расход день</th>
      <th class="text-right">Потери день</th>
      <th class="text-right">Сумма день</th>
      <th class="text-right">Показания ночь</th>
      <th class="text-right">Корр. ночь</th>
      <th class="text-right">Расход ночь</th>
      <th class="text-right">Потери ночь</th>
      <th class="text-right">Сумма ночь</th>
      <th class="text-right">Всего</th>
    </tr>
  </thead>
  <tbody>
<%= for row <- rows(@address_calculations) do %>
    <tr>
      <td><%= row.month %></td>
      <td class="text-right"><%= row.t01_curr %></td>
      <td class="text-right"><%= row.t01_corr %>
      <td class="text-right"><%= row.t01_cons %></td>
      <td class="text-right"><%= row.t01_loss %></td>
      <td class="text-right"><%= row.t01_sum %></td>

      <td class="text-right"><%= row.t02_curr %></td>
      <td class="text-right"><%= row.t02_corr %>
      <td class="text-right"><%= row.t02_cons %></td>
      <td class="text-right"><%= row.t02_loss %></td>
      <td class="text-right"><%= row.t02_sum %></td>

      <td class="text-right"><%= row.total_sum %></td>
    </tr>
<% end %>
  </tbody>
</table>
